*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0b0b0b;
    color:#fff;
    overflow-x:hidden;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#000;
    border-bottom:2px solid #d4af37;
    box-shadow:0 0 20px rgba(212,175,55,.25);
    z-index:999;
    padding:15px 0;
}

header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:70px;
    height:70px;
    border-radius:50%;
    border:3px solid #d4af37;
    object-fit:cover;
}

.logo h2{
    color:#d4af37;
    font-size:32px;
    font-weight:700;
}

.logo p{
    color:#ddd;
    font-size:14px;
}

nav{
    display:flex;
    gap:25px;
}

nav a{
    color:#fff;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#d4af37;
}

.hero{
    background:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.75)),
    url("images/IMG-20260724-WA0055.jpg") center/cover no-repeat;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.overlay h1{
    font-size:64px;
    color:#d4af37;
    text-shadow:0 0 20px rgba(212,175,55,.5);
}

.overlay p{
    margin:20px 0;
    font-size:22px;
    color:#fff;
}

.btn{
    display:inline-block;
    padding:16px 40px;
    background:linear-gradient(135deg,#FFD700,#C9A227);
    color:#000;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    border-radius:50px;
    box-shadow:0 8px 25px rgba(212,175,55,.5);
    transition:.3s;
}

.btn:hover{
    transform:translateY(-4px);
    box-shadow:0 12px 35px rgba(212,175,55,.8);
}
